@import 'mixins';
@import 'vendor/normalize';
@import 'fonts';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  object-fit: cover;
  max-width: 100%;
  /* height: auto; */
}

body {
  /* min-width: 320px; */
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  @include textBreak;
}

[role="button"],
.btn-reset {
  -webkit-tap-highlight-color: transparent;
}

.list-reset {
  @include resetMg;
  list-style: none;
}

.visually-hidden {
  position: fixed;
  z-index: -100;
  opacity: 0;
  left: -100vh;
  transform: scale(0);
}

.stop-scroll {
  overflow: hidden;
  // height: 100%;
  position: relative;
}

